a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  transition: background-color 0.2s ease;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

a.disabled {
  color: var(--secondary-color);
  pointer-events: none;
  cursor: not-allowed;
}
