.wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.clickable {
  cursor: pointer;
}

.wrapper input {
  cursor: default;
}

.labelText {
  font-size: var(--paragraph-font-size);
  color: var(--text-color);
}
