.headerCell {
  padding: 8px 12px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid var(--border-color);
}

.borderless {
  border: none;
}

.headerContent {
  display: flex;
  align-items: center;
}

.iconButton {
  margin-left: 4px;
  height: auto;
  width: auto;
}
