.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.tableTitle {
  font-size: var(--heading-font-size);
  color: var(--heading-color);
  padding: 0 8px;
}

.searchBar {
  padding: 0 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background-color);
  color: var(--text-color);
}

.paginationWrapper {
  display: flex;
  padding-top: 10px;
}

.paginationWrapper.left {
  justify-content: flex-start;
}

.paginationWrapper.center {
  justify-content: center;
}

.paginationWrapper.right {
  justify-content: flex-end;
}

.emptyTableMessage {
  text-align: center;
  padding: 20px;
  font-size: var(--paragraph-font-size);
  color: var(--secondary-color);
}
