.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: var(--secondary-color);
  font-size: var(--base-font-size);
}

.button.primary {
  color: var(--primary-color);
}

.button.secondary {
  color: var(--secondary-color);
}

.button.danger {
  color: var(--danger-color);
}

.button:hover {
  opacity: 0.8;
}
