.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 0;
}

.pagination-controls a,
.pagination-controls .current-page {
  padding: 8px 12px;
  margin: 0 4px;
  text-align: center;
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  min-width: 40px;
}

.pagination-controls .current-page {
  color: var(--text-color);
  cursor: default;
}

.pagination-controls a {
  color: var(--primary-color);
  cursor: pointer;
}

.pagination-controls a:hover {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

.pagination-controls a.disabled {
  color: var(--secondary-color);
  cursor: not-allowed;
  pointer-events: none;
  background-color: transparent;
}

.pagination-controls a.active {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  cursor: default;
  pointer-events: none;
}
