.checkboxGroup {
  display: flex;
  flex-direction: column;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.checkboxGroup.error input[type='checkbox'] {
  border-color: red;
  background-color: var(--input-bg-color);
}

.checkboxMessage {
  color: red;
  font-size: var(--small-text-size);
  margin-top: 4px;
}
